
[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = git@github.com:kakawait/hugo-tranquilpeak-theme.git
[submodule "tubean.github.io"]
	path = tubean.github.io
	url = git@github.com:tubean/tubean.github.io.git
