
[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme
[submodule "tubean.github.io"]
	path = tubean.github.io
	url = https://github.com/tubean/tubean.github.io.git
